body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(234, 255, 142), rgb(137, 238, 124));
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Content */
header{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0;
}
/* ---------------- */

/* Footer Content */
footer{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 0;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* -------------- */

/* General Text Elements */
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    font-size: x-large;
}

p{
    font-size: large;
    text-align: center;
    margin: 2 auto;
    max-width: 380px;
}

/* Nav Items */
.topnav {
    padding: 12px;
    text-align: center;
}

.topnav a {
    background-color: black;
    align-items: center;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

/* Making the left most nav item have a rounded border. */
.topnav > .topnav_one{
    border-bottom-left-radius: 1em;
}

/* Making the right most nav item have a rounded border. */
.topnav > .topnav_four{
    border-bottom-right-radius: 1em;
}

/* These four are to make the hover of the nav items have different colors. */
.topnav_one:hover {
    background-image: linear-gradient(to right, rgb(255, 210, 210), rgb(255, 255, 185));
    color: black;
}

.topnav_two:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 185), rgb(193, 255, 185));
    color: black;
}

.topnav_three:hover {
    background-image: linear-gradient(to right, rgb(193, 255, 185), rgb(185, 242, 255));
    color: black;
}

.topnav_four:hover {
    background-image: linear-gradient(to right, rgb(185, 242, 255), rgb(249, 185, 255));
    color: black;
}
/* ----------- */

/* Form Items */
form{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-image: linear-gradient(to right, rgb(86, 216, 97), rgb(82, 212, 158));
}

input{
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

input[type="text"], input[type="number"], textarea{
    width: 60%;
    border: 1px solid black;
    background-image: linear-gradient(to right, rgb(255, 236, 236), rgb(255, 235, 211));
}

input[type="submit"], input[type="reset"]{
    border: none;
    background-image: linear-gradient(to right, rgb(220, 220, 255), rgb(255, 230, 255));
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: inline;
    align-self: center;
}

input:focus{
    outline: none;
    border-color: rgb(150, 150, 150);
    box-shadow: 0 0 5px black;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
    font-size: larger;
}

@media (width <= 640px){
    /* Nav Items */
    .topnav {
        padding: 9px;
        text-align: center;
    }

    .topnav a {
        background-color: black;
        align-items: center;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 12px;
    }
}
